.EventList-header {
  background-color: blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.EventList {
  color: #61dafb;
}

.EventList-header.button {
  width: 20px;
}


