body{
  font-family: Arial, Helvetica, sans-serif;
}

#eventsList {
  margin-left: 13%;
  background-color: chartreuse;
}

#Categories{
  width: 12%;
  background-color: aliceblue;
  position: absolute;
}