#eventsList {
  margin-left: 13%;
  background-color: beige;
}

#categories {
  width: 12%;
  background-color: wheat;
  position: absolute;
}

#search {
  margin-left: 13%;
  margin-bottom: 10px;
}

#listItems{
  list-style-type: none;
}